<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="con" connectionString="Data Source=SHEPHERDLAPTOP\SQLEXPRESS;Initial Catalog=agnDB;Integrated Security=true" />
    <add name="agnDBConnectionString" connectionString="Data Source=SHEPHERDLAPTOP\SQLEXPRESS;Initial Catalog=agnDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime maxRequestLength="1048576" targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="token" value="AC.EffztheZmCJjYM.NBvgjuZOdTA5GNPHvHS0r0UQ7KqrTLzpccwMPp "/>
    <add key="paypalemail" value="sb-vtmow5815621@business.example.com"/>
    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <add key="PayPalSubmitUrl" value="https://api-m.sandbox.paypal.com"/>
    <add key="FailedURL" value="http://localhost:1230/paymentfail.aspx"/>
    <!--Failed Page URL-->
    <add key="SuccessURL" value="http://localhost:1230//paymentsuccess.aspx"/>
    <!--Success Page URL-->

  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <defaultDocument>
      <files>
        <clear/>
        <add value="homepage.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
  

</configuration>
